<nav class="menu">
    <img class="logo item" src="assets/logo/logo_small.png" style="height:36.5px;" alt="">
    <div class="nav-recherche item">    
        <input type="text" placeholder="Rechercher un client" class="champ-recherche">
        <i class="material-icons">search</i>
    </div>
    <div class="navlinks item">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Compte</a></li>
            <li><a href="#">Paramètres</a></li>
        </ul>
    </div>
</nav>