.menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline;
    margin: 10px;
}

.item {
    padding: 15px;
}

.nav-recherche {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-recherche {
    display: flex;
    align-items: center;
    border: solid 1px grey;
    border-radius: 3px;
    width: 50%;
}

/*i {
    border-radius: 0px 3px 3px 0px;
    font-size: 36.5px;
    color:lightgray;
    border-left: 1px solid;
}

i:hover{
    background-color: lightgrey;
    color:grey;
} */

 input {
    border:none;
    
} 

button {
    border:none;
    background-color: transparent;
    border-left: solid 1px lightgray;
    padding: 5px 25px 5px 25px;
}

button:hover{
    cursor: pointer;
    background-color: lightgray;
    
}


.champ-recherche {
    font-size: 16px;
    padding: 7px 5px 11px 3px;
    width: 100%;
}